/* Globals */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

:root{
  --color-primary: #000;
  --color-secondary: #2d2d2d;
  --color-tertiary: #999;
  --color-warn: #e04a4a;
  --color-text-base: #333;
  --color-light: #ccc;
  --font-primary: "Ubuntu", monospace;
  --font-secondary: "Ubuntu Mono", monospace;
}

* {
  box-sizing: border-box; }

a.app-logo-link {
  overflow: hidden;
  display: block;
  width: 35px;
  height: 35px; 
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 40% auto;
  background-color: var(--color-secondary);
  margin: 0 auto;
  border-radius: 2px 2px 2px 2px; }

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  color: var(--color-tertiary);
  transition: color, .3s, ease-in-out; }

a:hover, a:focus, a:active {
  color: var(--color-primary); }

p a {
  border-bottom: 1px solid var(--color-tertiary);
}

a.reverse, a.reverse, a.reverse, ul.reverse li a {
  color: white; }

a.reverse:hover, a.reverse:focus, a.reverse:active, ul.reverse li a.active {
  color: white; }

body {
  font-family: var(--font-primary);
  line-height: 1.6;
  background-color: var(--color-secondary);
  color: var(--color-text-base);
  font-weight: 400; }

.alt-font {
  font-family: var(--font-primary); font-weight: 400;}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-primary);
  font-weight: 400; }

h1.alt, h2.alt, h3.alt, h4.alt, h5.alt, h6.alt {
  color: var(--color-primary);
  line-height: 1.4; }

.ir {
  font-size: 0;
  color: transparent;
  display: block;
  background-repeat: no-repeat; }

.sticky {
  position: fixed;
  width: auto;
  top: 0; }

a.btn,
button.btn,
span.btn,
input.btn {
  font-size: 0.8rem;
  font-weight: 700;
  padding: 0.7rem 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.0625rem; }

.select-styled {
  background: white; }

.text-push {
  text-align: right; }

.hidden {
  visibility: hidden; }

.center {
  text-align: center; }

.reverse {
  color: white; }

.text-shadow {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5); }

.caps {
  text-transform: uppercase;
  letter-spacing: 1px; }

.strip {
  margin: 0; }

strong {
  font-weight: 900; }

em {
  font-style: italic; }

.social-icon-link {
  height: 1.6875rem;
  margin-right: 0.3125rem; }

.social-icon-link .icon {
  transition: fill 0.2s ease-in-out; }

.social-icon-link:hover .icon {
  fill: var(--color-secondary); }

.alt-font li a {
  fill: var(--color-secondary); }

nav > a.active, .alt-font li a.active {
  color: var(--color-primary); }

.nav-item {
  padding: 0.5rem 0;
  display: block;
  font-size: 1.375rem;
  line-height: 1; }

.nav-item.slim {
  padding: 0.625rem 0 0.3125rem; }

.show-wrap {
  position: relative; }

.show-button:hover {
  cursor: pointer; }

.show-button span {
  margin-right: 5px;
  margin-right: 0.3125rem; }

.show-wrap.active .show-button.btn {
  background: rgba(140, 224, 74, 0.2);
  color: white; }

.show-button .icon {
  fill: white;
  padding-top: 2px; }

.show-wrap.active .show-button .icon, .show-button:hover .icon {
  fill: white; }

.show-container {
  transform: scale(0.75);
  transition: all .4s ease-in-out;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  position: absolute;
  background: white;
  padding: 20px 20px 0;
  padding: 1.25rem 1.25rem 0;
  z-index: -1;
  border: 1px solid #cccccc;
  border-radius: 0px;
  width: auto; }

.show-container.show {
  transform: scale(1);
  opacity: 1;
  max-height: 1000px;
  z-index: 19; }

.show-container.anchor-right {
  right: 0; }

.show-container.anchor-bottom {
  bottom: 50px;
  bottom: 3.125rem; }

.show-container.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80%;
  height: auto;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.95);
  border-radius: 0;
  border: 1 solid #cccccc;
  box-shadow: 0 0 5px #e6e6e6; }

.show-container.alert {
  border-color: var(--color-warn); }

.slider {
  position: relative;
  padding-bottom: 42.5%; }

.slider .slide {
  transition: all .5s ease-out;
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0; }

.slider .slide img {
  width: 100%; }

.slider .slide.active {
  opacity: 1; }

.accordion-wrap {
  margin-bottom: 0.3125rem;
  border-bottom: 6px solid rgba(112, 112, 122, 0.2); }

.accordion-btn svg {
  transform: rotate(-90deg);
  fill: var(--color-primary); }

.accordion-btn.active svg {
  transform: rotate(0);
  fill: white; }

.accordion-btn:hover {
  cursor: pointer; }

.accordion-container {
  transition: all .3s ease-in-out;
  max-height: 0;
  overflow: hidden; }

.accordion-container > * {
  font-family: "PT Sans", sans-serif;
  font-size: 1.0625rem; }

.accordion-container.show {
  max-height: 500px;
  transition: all .7s ease-in-out; }

.video-background {
  position: absolute;
  top: 0;
  z-index: 1;
  display: none;
  width: 156%;
  height: auto;
  margin-left: -28%; }

html {
  background-color: white; }

body {
  background-color: white; }

.default-background {
  background-color: white; }

.alt-background {
  background-color: var(--color-tertiary); }

.alt2-background {
  background: var(--color-secondary); }

.alt3-background {
  background: white; }

.main {
  padding: 0 0 140px; }

.section {
  position: relative;
  padding: 1rem 0 1.2rem;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.contain {
  max-width: 510px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: bottom; }

img.contain {
  display: block;
  margin: auto;
  width: 25rem; }

img.rounded {
  display: block;
  border-radius: 200px;
  border: none; }

img.profile-rounded {
  display: block;
  width: 70px;
  height: auto;
  border-radius: 300px;
  margin-bottom: 20px;
  border: none; }

.profile-wrap {
  display: block;
}

.profile-wrap:after {
  content: "";
  display: table;
  clear: both; }

.profile-image {
  display: block;
  float: left;
  margin-right: 30px;
}

.profile-header {
  display: block;
}

[role="banner"] {
  border-top: 12px solid var(--color-secondary);
}
[role="contentinfo"] {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-bottom: 12px;
  border-bottom: 12px solid var(--color-secondary);
  color: var(--color-tertiary);
  fill: var(--color-tertiary);
  background: white;
}

@media all and (min-width: 1381px) {
  .video-background {
    display: block; } }

.grid, .flex {
  position: relative;
  clear: both;
  padding: 0.75rem 1rem 0.5rem;
  max-width: 1115px;
  margin: 0 auto; }

.grid.strip, .flex.strip {
  padding: 0; }

.grid.grid, .flex.grid {
  display: block;
  *zoom: 1; }

.grid.grid:after, .flex.grid:after {
  content: "";
  display: table;
  clear: both; }

.grid .sm-grid1, .flex .sm-grid1,
.grid .sm-flex1, .flex .sm-flex1 {
  width: 25%;
  padding: 0 0.5rem; }

.grid .sm-grid1, .flex .sm-grid1 {
  float: left; }

.grid .sm-grid1.push, .flex .sm-grid1.push {
  float: right; }

.grid .sm-grid2, .flex .sm-grid2,
.grid .sm-flex2, .flex .sm-flex2 {
  width: 50%;
  padding: 0 0.5rem; }

.grid .sm-grid2, .flex .sm-grid2 {
  float: left; }

.grid .sm-grid2.push, .flex .sm-grid2.push {
  float: right; }

.grid .sm-grid3, .flex .sm-grid3,
.grid .sm-flex3, .flex .sm-flex3 {
  width: 75%;
  padding: 0 0.5rem; }

.grid .sm-grid3.push, .flex .sm-grid3.push {
  float: right; }

.grid .sm-grid3, .flex .sm-grid3 {
  float: left; }

.grid .sm-grid4, .flex .sm-grid4,
.grid .sm-flex4, .flex .sm-flex4 {
  width: 100%;
  padding: 0 0.5rem; }

.grid .sm-grid4.push, .flex .sm-grid4.push {
  float: right; }

.grid .sm-grid4, .flex .sm-grid4 {
  float: left; }

.grid .sm-hide, .grid .md-hide, .flex .sm-hide, .flex .md-hide {
  display: none; }

.grid .sm-show, .flex .sm-show {
  display: block; }

.grid .grid-nested:first-child, .grid .grid-nested.sm-grid4:last-child, .flex .grid-nested:first-child, .flex .grid-nested.sm-grid4:last-child {
  padding-left: 0; }

@media all and (min-width: 630px) {
  .grid .md-grid1, .flex .md-grid1 {
    float: left;
    width: 16.66667%;
    padding: 0 0.5rem; }
  .grid .md-grid1.push, .flex .md-grid1.push {
    float: right; }
  .grid .md-flex1, .flex .md-flex1 {
    width: 16.66667%;
    padding: 0 0.5rem; }
  .grid .md-grid2, .flex .md-grid2 {
    float: left;
    width: 33.33333%;
    padding: 0 0.5rem; }
  .grid .md-grid2.push, .flex .md-grid2.push {
    float: right; }
  .grid .md-flex2, .flex .md-flex2 {
    width: 33.33333%;
    padding: 0 0.5rem; }
  .grid .md-grid3, .flex .md-grid3 {
    float: left;
    width: 50%;
    padding: 0 0.5rem; }
  .grid .md-grid3.push, .flex .md-grid3.push {
    float: right; }
  .grid .md-flex3, .flex .md-flex3 {
    width: 50%;
    padding: 0 0.5rem; }
  .grid .md-grid4, .flex .md-grid4 {
    float: left;
    width: 66.66667;
    padding: 0 0.5rem; }
  .grid .md-grid4.push, .flex .md-grid4.push {
    float: right; }
  .grid .md-flex4, .flex .md-flex4 {
    width: 66.66667;
    padding: 0 0.5rem; }
  .grid .md-grid5, .flex .md-grid5 {
    float: left;
    width: 83.33333%;
    padding: 0 0.5rem; }
  .grid .md-grid5.push, .flex .md-grid5.push {
    float: right; }
  .grid .md-flex5, .flex .md-flex5 {
    width: 83.33333%;
    padding: 0 0.5rem; }
  .grid .md-grid6, .flex .md-grid6 {
    width: 100%;
    padding: 0 0.5rem; }
  .grid .md-grid6.push, .flex .md-grid6.push {
    float: right; }
  .grid .md-flex6, .flex .md-flex6 {
    width: 100%;
    padding: 0 0.5rem; }
  .grid .md-show, .flex .md-show {
    display: block; }
  .grid .md-hide, .flex .md-hide {
    display: none; }
  .grid .grid-nested:last-child, .flex .grid-nested:last-child {
    padding-right: 0; }
  .grid .grid-nested.g1-grid4:last-child, .flex .grid-nested.g1-grid4:last-child {
    padding-left: 0.5rem; }
  .grid .grid-nested.g1-grid4:first-child, .flex .grid-nested.g1-grid4:first-child {
    padding-left: 0; } }

@media all and (min-width: 800px) {

  .grid.grid-wide, .flex.flex-wide {
    max-width: 1250px; }
  .grid.grid-extra-wide, .flex.flex-extra-wide {
    max-width: 4000px; }
  .grid .lg-grid1, .flex .lg-grid1 {
    float: left;
    width: 8.333%;
    padding: 0 0.5rem; }
  .grid .lg-grid1.push, .flex .lg-grid1.push {
    float: right; }
  .grid .lg-flex1, .flex .lg-flex1 {
    width: 8.333%;
    padding: 0 0.5rem; }
  .grid .lg-grid2, .flex .lg-grid2 {
    float: left;
    width: 16.666%;
    padding: 0 0.5rem; }
  .grid .lg-grid2.push, .flex .lg-grid2.push {
    float: right; }
  .grid .lg-flex2, .flex .lg-flex2 {
    width: 16.666%;
    padding: 0 0.5rem; }
  .grid .lg-grid3, .flex .lg-grid3 {
    float: left;
    width: 25%;
    padding: 0 0.5rem; }
  .grid .lg-grid3.push, .flex .lg-grid3.push {
    float: right; }
  .grid .lg-flex3, .flex .lg-flex3 {
    width: 25%;
    padding: 0 0.5rem; }
  .grid .lg-grid4, .flex .lg-grid4 {
    float: left;
    width: 33.33333%;
    padding: 0 0.5rem; }
  .grid .lg-grid4.push, .flex .lg-grid4.push {
    float: right; }
  .grid .lg-flex4, .flex .lg-flex4 {
    width: 33.33333%;
    padding: 0 0.5rem; }
  .grid .lg-grid5, .flex .lg-grid5 {
    float: left;
    width: 41.66667%;
    padding: 0 0.5rem; }
  .grid .lg-grid5.push, .flex .lg-grid5.push {
    float: right; }
  .grid .lg-flex5, .flex .lg-flex5 {
    width: 41.66667%;
    padding: 0 0.5rem; }
  .grid .lg-grid6, .flex .lg-grid6 {
    float: left;
    width: 50%;
    padding: 0 0.5rem; }
  .grid .lg-grid6.push, .flex .lg-grid6.push {
    float: right; }
  .grid .lg-flex6, .flex .lg-flex6 {
    width: 50%;
    padding: 0 0.5rem; }
  .grid .lg-grid7, .flex .lg-grid7 {
    float: left;
    width: 58.33333%;
    padding: 0 0.5rem; }
  .grid .lg-grid7.push, .flex .lg-grid7.push {
    float: right; }
  .grid .lg-flex7, .flex .lg-flex7 {
    width: 58.33333%;
    padding: 0 0.5rem; }
  .grid .lg-grid8, .flex .lg-grid8 {
    float: left;
    width: 66.66667%;
    padding: 0 0.5rem; }
  .grid .lg-grid8.push, .flex .lg-grid8.push {
    float: right; }
  .grid .lg-flex8, .flex .lg-flex8 {
    width: 66.66667%;
    padding: 0 0.5rem; }
  .grid .lg-grid9, .flex .lg-grid9 {
    float: left;
    width: 75%;
    padding: 0 0.5rem; }
  .grid .lg-grid9.push, .flex .lg-grid9.push {
    float: right; }
  .grid .lg-flex9, .flex .lg-flex9 {
    width: 75%;
    padding: 0 0.5rem; }
  .grid .lg-grid10, .flex .lg-grid10 {
    float: left;
    width: 83.33333%;
    padding: 0 0.5rem; }
  .grid .lg-grid10.push, .flex .lg-grid10.push {
    float: right; }
  .grid .lg-flex10, .flex .lg-flex10 {
    width: 83.33333%;
    padding: 0 0.5rem; }
  .grid .lg-grid11, .flex .lg-grid11 {
    float: left;
    width: 91.66667%;
    padding: 0 0.5rem; }
  .grid .lg-grid11.push, .flex .lg-grid11.push {
    float: right; }
  .grid .lg-flex11, .flex .lg-flex11 {
    width: 91.66667%;
    padding: 0 0.5rem; }
  .grid .lg-grid12, .flex .lg-grid12 {
    width: 100%;
    padding: 0 0.5rem; }
  .grid .lg-grid12.push, .flex .lg-grid12.push {
    float: right; }
  .grid .lg-flex12, .flex .lg-flex12 {
    width: 100%;
    padding: 0 0.5rem; }
  .grid .lg-show, .flex .lg-show {
    display: block; }
  .grid .lg-hide, .flex .lg-hide {
    display: none; }
  .grid .lg-offset1, .flex .lg-offset1 {
    margin-left: 8.4%;
    width: calc(100 - 8.4%); }
  .grid .lg-offset2, .flex .lg-offset2 {
    margin-left: 16.8%;
    width: calc(100 - 16.8%); }
  .grid .lg-offset3, .flex .lg-offset3 {
    margin-left: 25.2%;
    width: calc(100 - 25.2%); } }

.push {
  float: right; }

/* Flexbox modules */
.flex {
  display: flex; }

.flex.sm-flex-row {
  flex-flow: row wrap;
  flex: 0 0 0;
  flex-flow: row wrap;
  flex: 0 0 0; }

.flex.sm-flex-column {
  flex-flow: column wrap;
  flex: 1 1 auto; }

.flex.sm-row-reverse, .flex-inner.sm-row-reverse {
  flex-flow: row-reverse wrap; }

@media all and (min-width: 630px) {
  .flex.md-flex-row {
    flex-flow: row wrap;
    flex: 0 0 0; }
  .flex.md-flex-column {
    flex-flow: column wrap;
    flex: 1 1 auto; } }

@media all and (min-width: 800px) {
  .flex.lg-flex-row {
    flex-flow: row wrap;
    flex: 0 0 0; }
  .flex.lg-flex-column {
    flex-flow: column wrap;
    flex: 1 1 auto; } }

.flex-inner {
  padding: 0;
  display: flex; }

.flex > .sm-flex-grow, .flex-inner > .sm-flex-grow {
  flex: 1 1 auto; }

.flex .sm-push, .flex-inner .sm-push {
  margin-left: auto; }

.flex.sm-flex-center, .flex-inner.sm-flex-center {
  justify-content: center;
  align-items: center; }

.flex.sm-flex-start, .flex-inner.sm-flex-start {
  justify-content: start;
  align-items: start; }

.flex.sm-flex-stretch, .flex-inner.sm-flex-stretch {
  justify-content: stretch;
  align-items: stretch; }

.flex.sm-flex-end, .flex-inner.sm-flex-end {
  justify-content: flex-end; }

.flex.sm-flex-space-between, .flex-inner.sm-flex-space-between {
  justify-content: space-between; }

@media all and (min-width: 630px) {
  .flex > .md-flex-grow {
    flex: 1 1 auto; }
  .flex .md-push {
    margin-left: auto; }
  .flex.md-flex-center {
    justify-content: center;
    align-items: center; }
  .flex.md-flex-start {
    justify-content: start;
    align-items: start; }
  .flex.md-flex-stretch {
    justify-content: stretch;
    align-items: stretch; }
  .flex.md-flex-end {
    justify-content: flex-end; }
  .flex.md-flex-space {
    justify-content: space-between; }
  .flex.md-row-reverse {
    flex-flow: row-reverse wrap; }
  .flex.md-flex-column {
    flex-flow: column wrap; } }

@media all and (min-width: 800px) {
  .flex > .lg-flex-grow {
    flex: 1 1 auto; }
  .flex .lg-push {
    margin-left: auto; }
  .flex.lg-flex-center {
    justify-content: center;
    align-items: center; }
  .flex.lg-flex-start {
    justify-content: start;
    align-items: start; }
  .flex.lg-flex-stretch {
    justify-content: stretch;
    align-items: stretch; }
  .flex.lg-flex-end {
    justify-content: flex-end; }
  .flex.lg-flex-space {
    justify-content: space-between; }
  .flex.lg-row-reverse {
    flex-flow: row-reverse wrap; }
  .flex.lg-flex-column {
    flex-flow: column wrap; } }

@media all and (min-width: 1381px) {
  .flex.xlg-flex-center {
    justify-content: center;
    align-items: center; } }

.grid-block,
.flex-item {
  background: #444f68;
  text-align: center;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #343c4f; }

html {
  font-size: 74%; }

@media all and (min-width: 510px) {
  img.profile-rounded {
    width: 88px; }
  html {
    font-size: 88%; } }

@media all and (min-width: 630px) {

  .split {
    max-width: 500px; }
  
  .split .dt {
    width: 150px;}
  
  .split .dd {
    width: 300px;}
  html {
    font-size: 100%; } }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 5px; }

h1, .alpha {
  font-size: 1.9rem; }

h2, .beta {
  font-size: 1.8rem; }

h3, .gamma {
  font-size: 1.35rem; }

h4, h5, h6, .delta {
  font-size: 1.2rem; }

p, ul, pre, .epsilon {
  font-size: 1rem; }

.zeta {
  font-size: 0.8rem; }

ul {
  list-style-type: none; }

p, ul, dl, pre, ol {
  margin-bottom: 1.5625rem;
  font-size: 1rem; }

li, dd, dt {
  margin-bottom: 0.15625rem; }

ul.bullets, ol {
  margin-left: 1.5625rem; }

ul.bullets {
  list-style-type: circle; }

ul.horz-list {
  margin-bottom: 0; }

.horz-list li {
  margin-right: 1.25rem;
  display: inline-block;
  vertical-align: middle; }

.horz-list.alt li {
  margin-right: 0;
  margin-left: 1.25rem; }

.text-center {
  text-align: center;
}

blockquote {
  position: relative;
  font-style: italic; }

blockquote:before, blockquote:after {
  content: open-quote; }

blockquote:after {
  content: close-quote; }

.horz-rule {
  border: 0;
  height: 0;
  border-bottom: 1px solid #999999;
  margin-bottom: 1.25rem; }

.horz-rule.alt {
  margin-bottom: 0.625rem; }

.horz-rule.ghost {
  border-color: transparent; }

.split {
  font-family: var(--font-secondary);
  border-bottom: 1px solid var(--color-light);
  display: block;
  padding: 3px 0;
  *zoom: 1;
  max-width: 100%; }

.split:after, .split:after {
  content: "";
  display: table;
  clear: both; }

.split .dt {
  display: block;
  float: left;
  width: 37%;
  text-align: right; }

.split .dd {
  font-weight: 600;
  display: block;
  float: right;
  width: 58%;}

label,
legend {
  display: block;
  margin: 0.3125rem 0;
  font-size: 1rem; }

textarea, input {
  background-color: white;
  border: 1px solid var(--color-primary);
  border-radius: 0px;
  -webkit-border-radius: 0px;
  margin-bottom: 0.3125rem;
  font-size: 1rem;
  padding: 0.625rem;
  font-family: "PT Sans", sans-serif;
  color: #1a1a1a;
  min-width: 100%;
  max-width: 100%; }

textarea.alt, input.alt {
  background-color: white;
  border: 0; }

textarea.alt2, input.alt2 {
  background-color: white; }

textarea:focus, input:focus,
textarea:focus, input:active {
  outline: 0; }

input[type="text"],
input[type="search"],
input[type="email"],
input[type="password"] {
  -webkit-appearance: none;
  appearance: none;
  font-family: "PT Sans", sans-serif; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-ms-clear {
  -webkit-appearance: none;
  appearance: none; }

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0; }

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none; }

.search-wrap {
  position: relative; }

.search-wrap .icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translate(0, -50%); }

textarea {
  padding: 0.625rem;
  min-height: 40px; }

.select-styled {
  position: relative;
  width: 100%;
  overflow: hidden;
  border: 1px solid var(--color-secondary);
  border-radius: 0px; }

.select-styled .icon {
  position: absolute;
  right: 12px;
  top: 50%;
  margin-top: -7px;
  display: block;
  z-index: 0; }

.select-styled select {
  background: transparent;
  width: 100%;
  padding: 0.625rem;
  font-size: 1rem;
  border: none;
  -webkit-appearance: none;
  color: #666666;
  font-family: "PT Sans", sans-serif;
  position: relative;
  z-index: 1; }

.placeholder {
  color: #999999; }

.errors {
  color: var(--color-warn); }

.label-wrap {
  position: relative;
  margin-bottom: 0.625rem;
  margin-right: 0.9375rem; }

.label-wrap label,
.label-wrap legend {
  margin-top: 0.15625rem; }

.label-wrap > * {
  display: inline-block; }

.label-wrap input[type="checkbox"],
.label-wrap input[type="radio"] {
  position: absolute;
  width: auto;
  min-width: 0;
  top: 0.0625rem;
  left: 0; }

.label-wrap.switch label {
  padding-left: 4.0625rem;
  margin-left: 0;
  position: relative;
  z-index: 2; }

.label-wrap.switch input {
  opacity: 0;
  overflow: hidden; }

.label-wrap.switch:before {
  content: '';
  transition: all .15s ease-in-out;
  display: block;
  position: absolute;
  top: 0.125rem;
  background: #e6e6e6;
  border: 1px solid #cccccc;
  border-radius: 20px;
  height: 1.25rem;
  width: 3.125rem;
  padding: 2px; }

.label-wrap.switch:after {
  content: '';
  transition: all .15s ease-in-out;
  display: block;
  position: absolute;
  top: 0.125rem;
  left: 0;
  background: #999999;
  border-radius: 20px;
  height: 1.25rem;
  width: 1.25rem;
  margin: 3px; }

.label-wrap.switch.active:after {
  background: white;
  left: 1.875rem; }

.label-wrap.switch.active:before {
  border-color: var(--color-primary);
  background: var(--color-primary); }

fieldset {
  border: none;
  margin: 0;
  padding: 0; }

fieldset {
  margin-bottom: 0.9375rem; }

fieldset legend {
  margin-top: 0.15625rem; }

fieldset .label-wrap {
  margin-bottom: 0.3125rem; }

fieldset .label-wrap label {
  margin-top: 0;
  margin-left: 2.03125rem; }

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  margin-bottom: 50px; }

tr:nth-of-type(odd) {
  background: rgba(122, 143, 178, 0.09); }

thead tr:first-of-type {
  background: none; }

thead tr {
  border-bottom: 6px solid rgba(122, 143, 178, 0.09); }

tbody tr {
  border-bottom: 1px solid rgba(122, 143, 178, 0.09); }

tbody tr:last-of-type {
  border-bottom: none; }

th, td {
  text-align: left;
  padding: 0.625rem 0.625rem;
  vertical-align: bottom; }

th {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: 0.3125rem; }

a.btn,
button.btn,
span.btn,
input.btn {
  transition: border .1s, ease-in-out;
  color: var(--color-primary);
  border: 1px solid var(--color-tertiary);
  background: transparent;
  border-radius: 0px;
  margin-bottom: 0.3125rem;
  margin-right: 0.15625rem;
  font-family: var(--font-secondary);
  text-align: center;
  line-height: 1;
  position: relative;
  overflow: hidden;
  display: inline-block;
  vertical-align: top; }

a.btn:hover, a.btn:focus,
button.btn:hover, button.btn:focus,
span.btn:hover, span.btn:focus,
input.btn:hover, input.btn:focus {
  cursor: pointer;
  border-color: var(--color-primary);
  outline: 0; }

a.btn.alt,
button.btn.alt,
span.btn.alt,
input.btn.alt {
  background: var(--color-secondary);
  color: white;
  border-color: var(--color-secondary); }

a.btn.alt:hover,
button.btn.alt:hover,
span.btn.alt:hover,
input.btn.alt:hover {
  background: var(--color-primary);
  color: white; }

a.btn.alt2,
button.btn.alt2,
span.btn.alt2,
input.btn.alt2 {
  background: var(--color-primary);
  color: #01111e;
  border-color: var(--color-primary); }

a.btn.btn-disabled,
button.btn.btn-disabled,
span.btn.btn-disabled,
input.btn.btn-disabled {
  background: #cccccc;
  color: white;
  border-color: #cccccc; }

a.btn.btn-disabled:hover,
button.btn.btn-disabled:hover,
span.btn.btn-disabled:hover,
input.btn.btn-disabled:hover {
  background: #cccccc;
  color: white;
  cursor: not-allowed; }

.tabbed-nav {
  display: flex;
  margin-bottom: 0; }

.tabbed-item {
  color: white;
  padding: 0.46875rem 1.25rem;
  background: #7a8fb2;
  margin-right: 1px;
  border-radius: 0px 0px 0 0; }

.tabbed-item.active {
  background: var(--color-primary);
  color: inherit; }

.tabbed-container {
  background: var(--color-primary);
  padding: 0.46875rem 1.25rem;
  display: none; }

.tabbed-container.show {
  display: block; }

.svg-hide {
  display: none; }

svg {
  fill: var(--color-secondary); }

svg.reverse {
  fill: white; }

.icon {
  width: 1.875rem;
  height: 1.875rem; }

.icon.icon-12 {
  width: 0.75rem;
  height: 0.75rem; }

.icon.icon-14 {
  width: 0.875rem;
  height: 0.875rem; }

.icon.icon-16 {
  width: 1rem;
  height: 1rem; }

.icon.icon-18 {
  width: 1.125rem;
  height: 1.125rem; }

.icon.icon-20 {
  width: 1.25rem;
  height: 1.25rem; }

.icon.icon-22 {
  width: 1.375rem;
  height: 1.375rem; }

.icon.icon-24 {
  width: 1.5rem;
  height: 1.5rem; }

.icon.icon-26 {
  width: 1.625rem;
  height: 1.625rem; }

.icon.icon-28 {
  width: 1.75rem;
  height: 1.75rem; }

.icon.icon-30 {
  width: 30px;
  height: 30px; }

.texas {
  margin-right: 6px;
  margin-left: 6px;
  margin-top: -4px; }

.icon-ok {
  fill: var(--color-primary); }

.icon-error {
  fill: var(--color-primary); }

.icon-arrow-down {
  width: 1rem;
  height: 1rem; }

.icon-arrow-down > * {
  width: 1rem;
  height: 1rem; }

.fade-enter {
  opacity: 0.01;
  transform: translate(0, 10px);
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transform: translate(0, 0);
  transition: all 300ms ease-in-out;
}
.fade-exit {
  opacity: 1;
  transform: translate(0, 0px);
}

.fade-exit.fade-exit-active {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  opacity: 0.01;
  transform: translate(0, -10px);
  transition: all 200ms ease-in-out;
}